caption {
        color: blue;
        font-size: 50px;
        }
input[placeholder] {
        font-size: 30px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: blue;
        }
button {
        font-size: 30px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: red;
        }
p      {
        font-size: 30px;
        padding: 10%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: green;
        }
.div_input {
        width: 85%;
        background: #ccc;
        padding: 5px;
        padding-right: 2px;
        border: 1px middle black;
        background: grey;
        float: left;
        }
.method {
        width: 500px;
        height: 500px;
        border: 3px solid black;
        background: grey;
        }
.photo {
        padding: 5px;
        padding-right: 50px;
        }
