<html>
    <head>
        <title> Мой парсер </title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <table width="1500" bgcolor="#c0c0c0" cellspacing="0" cellpadding="5" border="1" align="left">
        <caption> Товар: {{key}} </caption>
        <tr> <td> Описание </td> <td> Цена </td> </tr>
        {% for item in list %}
            <tr>
                <td> <img itemprop="image" src="{{item[0]}}"> </td>
                <td> {{item[1]}} </td>
                <td> {{item[2]}} </td>
            </tr>
        {% endfor %}
    </table>
</html>
