<!DOCTYPE html>
<html>

<head>
    <title> Мой Бьютифул Борщ </title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

<form method="post" action="/search" class="method">
        <p> Мой Бьютифул Борщ </p>
        <img class="photo" itemprop="image"
                hspace="5" vspace="7" alt=""
                src="static/img/borsch.jpg">
        <div class="div_input">
            <input type="text" name="site" placeholder="На странице">
            <input type="text" name="goods" placeholder="Товар">
            <button type="submit"> Найти: </button>
        </div>
</form>

</body>
</html>
