<head>
    <title> Кое-что о товаре </title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>


<img itemprop="image" height="200"
     hspace="5" vspace="7" alt="" align="left"
     src="static/img/Donald-Trump.jpg">

<form method="post" action="/search" class="navbar-form navbar-right">
    <div class="form-group">
        <input class="form" type="text" name="site" placeholder="На сайте">
        <input class="form" type="text" name="goods" placeholder="Товар">
        <button type="submit" class="btn btn-default"> Найти </button>
    </div>
</form>
