<div class="image col-lg-12 col-md-12 col-sm-12 col-xs-4">
	<div class="badge-wrapper">
		<div class="corner top left">
			<div class="badge">
				<span>33 класс, 12мм!</span>
			</div>
		</div>
		<img itemprop="image"
			 alt="064 Дуб Койот, ламинат Balterio Fortissimo 33 класса 12мм (Балтерио Фортиссимо)"
			 title="064 Дуб Койот, ламинат Balterio Fortissimo 33 класса 12мм (Балтерио Фортиссимо)"
			 src="https://laminat33.ru/wa-data/public/shop/products/85/21/2185/images/11603/11603.200.jpg">
	</div>
</div>
