  <!DOCTYPE html>
	<html class="blue">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Вход</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta name="yandex-verification" content="c46aa3594161d94b" />
    <meta name="google-site-verification" content="WtvAQEUNkmFAtAzS5RagJ3VCZWLnCbZI22CTuLROw8s" />
    <meta name="cmsmagazine" content="ac3933e5a471e077761b57b9372916db" />
    <link rel="canonical" href="https://laminat33.ru/login/"/>    <link rel="shortcut icon" href="/favicon.ico"/>
  
    <!-- css -->
	<link href="/wa-data/public/site/themes/bazar/assets/css/bootstrap.min.css?v1.0.2.127" rel="stylesheet" type="text/css"/>
	<link href="/wa-data/public/site/themes/bazar/assets/css/site.css?v1.0.2.127" rel="stylesheet" type="text/css"/>
	<link href="/wa-data/public/site/themes/bazar/assets/css/icons.css?v1.0.2.127" rel="stylesheet" type="text/css"/>
	<link href="/wa-data/public/site/themes/bazar/assets/css/slick.css?v1.0.2.127" rel="stylesheet" type="text/css"/>
	<link href="/wa-data/public/site/themes/bazar/assets/css/sweetalert.css?v1.0.2.127" rel="stylesheet" type="text/css"/>
	<link href="/wa-data/public/site/themes/bazar/assets/css/jquery.mCustomScrollbar.css?v1.0.2.127" rel="stylesheet" type="text/css"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,500,100,900&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="/wa-content/font/ruble/arial/fontface.css" rel="stylesheet" type="text/css">    <link href="/wa-apps/shop/plugins/revolutionslider/css/revolution/settings.css?7.2.2" rel="stylesheet">
<link href="/wa-apps/shop/plugins/revolutionslider/css/revolution/layers.css?7.2.2" rel="stylesheet">
<link href="/wa-apps/shop/plugins/revolutionslider/css/revolution/navigation.css?7.2.2" rel="stylesheet">
<link href="/wa-apps/shop/plugins/revolutionslider/css/revolution/tooltip.css?7.2.2" rel="stylesheet">
<link href="/wa-apps/shop/plugins/haggle/vendor/fancyBox/jquery.fancybox.css?7.2.2" rel="stylesheet">
 
    <link href="/wa-data/public/site/themes/bazar/assets/css/animate.css?v1.0.2.127" rel="stylesheet" type="text/css"/>
    <!-- js -->
    <script type="text/javascript" src="/wa-content/js/jquery/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="/wa-content/js/jquery/jquery-migrate-1.2.1.min.js" ></script>
	<script type="text/javascript" src="/wa-data/public/site/themes/bazar/assets/js/jquery-ui-1.10.4.min.js?v1.0.2.127" ></script>

	<script type="text/javascript" src="/wa-data/public/site/themes/bazar/assets/js/slideout.min.js?v1.0.2.127" ></script>
	<script type="text/javascript" src="/wa-data/public/site/themes/bazar/assets/js/bootstrap.min.js?v1.0.2.127" ></script>
	<script type="text/javascript" src="/wa-data/public/site/themes/bazar/assets/js/slick.min.js?v1.0.2.127" ></script>
	<script type="text/javascript" async src="/wa-data/public/site/themes/bazar/assets/js/sweetalert.min.js?v1.0.2.127" ></script>
	<script type="text/javascript" async src="/wa-data/public/site/themes/bazar/assets/js/readmore.min.js?v1.0.2.127" ></script>
	<script type="text/javascript" src="/wa-data/public/site/themes/bazar/assets/js/jquery.mCustomScrollbar.min.js?v1.0.2.127" ></script>
	<script type="text/javascript" src="/wa-data/public/site/themes/bazar/assets/js/jquery.mousewheel.min.js?v1.0.2.127" ></script>
	<script type="text/javascript" src="/wa-data/public/site/themes/bazar/assets/js/iscroll.js?v1.0.2.127" ></script>
    <script type="text/javascript" src="/wa-data/public/site/themes/bazar/bazar.js?v1.0.2.127" ></script>
	
    <script src="/wa-apps/shop/plugins/haggle/vendor/fancyBox/jquery.fancybox.pack.js?7.2.2"></script>
<script src="/wa-apps/shop/plugins/revolutionslider/js/revolution/jquery.themepunch.tools.min.js?7.2.2"></script>
<script src="/wa-apps/shop/plugins/revolutionslider/js/revolution/jquery.themepunch.revolution.min.js?7.2.2"></script>
<script src="/wa-apps/shop/plugins/revolutionslider/js/revolution/extensions/revolution.extension.carousel.min.js?7.2.2"></script>
<script src="/wa-apps/shop/plugins/revolutionslider/js/revolution/extensions/revolution.extension.parallax.min.js?7.2.2"></script>
 
    
    <!-- shop app css -->

<link href="/wa-data/public/shop/themes/bazar/jquery.bxslider.css?v1.0.2.127" rel="stylesheet" />

<!-- js -->
<script type="text/javascript" src="/wa-apps/shop/js/lazy.load.js?v7.2.2.105"></script>
<script type="text/javascript" src="/wa-data/public/shop/themes/bazar/jquery.bxslider.min.js?v1.0.2.127"></script>
<script type="text/javascript" src="/wa-data/public/shop/themes/bazar/jquery.maskedinput.min.js?v1.0.2.127"></script>
<script type="text/javascript" src="/wa-content/js/jquery-plugins/jquery.cookie.js?v1.6.7"></script>
<script type="text/javascript" src="/wa-data/public/shop/themes/bazar/bazar.shop.js?v1.0.2.127"></script>
<script type="text/javascript" src="/wa-content/js/jquery-plugins/jquery.retina.min.js?v1.6.7"></script>
<script type="text/javascript">$(window).load(function() { 
    $('.promo img').retina({ force_original_dimensions: false });
    $('.product-list img,.product-info img,.cart img').retina();;
    $('.bestsellers img').retina();
});
</script>




<!-- plugin hook: 'frontend_head' -->

<script type='text/javascript' src='/wa-apps/shop/plugins/quickorder/js/quickorder.js'></script>
                <script type='text/javascript'>
                    jQuery(document).ready(function($) { 
                    	$.quickorder.locale='ru_RU';
			$.quickorder.aftercallback='';
                        ;                    
                    });
                </script>
                <link rel='stylesheet' href='/wa-apps/shop/plugins/quickorder/css/quickorderFrontend.css'> <script>
                $(function() { $.backtopSet = {"status":"1","bg":"#FCD630","bg2":"#FCD630","border_color":"#ffffff","border_size":"1","border_radius":"3","button_width":"70","button_height":"45","opacity":"0.8","text_size":"15","text":"\u0432\u0432\u0435\u0440\u0445","link_color":"#787854","link_hover":"#1c1c08","position_ver":"b","position_hor":"r","pos_ver":"70","pos_hor":"50","update_time":"1"}});</script>
                <script src='/wa-apps/shop/plugins/backtop/js/BackTop.js'></script>
                <link rel='stylesheet' href='/wa-apps/shop/plugins/backtop/css/BackTop.css'><style type="text/css">
	.yoss-result.loading { background: url("/wa-apps/shop/plugins/yoss/img/loading-blue.gif") no-repeat scroll center 15px #fff; }
.yoss-result .loading { background: url("/wa-apps/shop/plugins/yoss/img/loading-blue.gif") no-repeat scroll center 15px #fff; height: 35px; width: 100%; } 
	.yoss-result { background-color: #fff; border: 1px solid rgba(155, 155, 155, 0.5); border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; left: 0; margin: 0; max-height: 400px; min-height: 40px; overflow-x: hidden; overflow-y: auto; position: absolute; top: 36px; width: auto; z-index: 9999; }
.yoss-result.no-products { color: #444; line-height: 40px; text-align: center; width: inherit; }
.yoss-result.yoss-error { color: #de4d2c; line-height: 40px; text-align: center; width: inherit; }
.yoss-result .yoss-result-wrapper { border-bottom: 1px dotted #000; float: left; width: 100%; }
.yoss-result .yoss-result-wrapper:last-child { border-bottom: 0 none; }
.yoss-result .yoss-result-product-count { display: block; float: left; font-size: 16px; font-weight: bold; margin: 29px 0; position: relative; text-align: center; width: 40%; }
.yoss-result .yoss-result-show-all { display: block; float: left; font-weight: normal; margin: 29px 0; position: relative; text-align: left; width: 60%; }
.yoss-result .yoss-result-left { float: left; width: 75%; }
.yoss-result .yoss-result-right { float: right; width: 25%; }
.yoss-result .product-image { float: left; height: 48px; margin: 20px 4% 30px; overflow: hidden; width: 20%; }
.yoss-result .product-name { display: block; float: left; font-size: 14px; font-weight: bold; line-height: 18px; margin: 16px 0 10px; position: relative; text-align: left; width: 72%; }
.yoss-result .product-brand, .yoss-result .product-category { color: #777; float: left; font-size: 0.8em; margin: 0 10px 0 0; position: relative; }
.yoss-result .product-brand a , .yoss-result .product-category a { color: #777; }
.yoss-result .product-price { display: block; float: left; font-size: 1.6em; font-weight: bold; margin: 20px 0 10px; text-align: center; width: 100%; }
.yoss-result .product-link { border: 1px solid; border-radius: 4px; display: inline-block; font-weight: bold; height: 26px; line-height: 26px; overflow: hidden; text-align: center; text-decoration: none; width: 85%; }
</style>

<script type="text/javascript">
	/**
 * yoss.frontend.js
 * Module yossFrontend
 */

/*global $, yossFrontend */

var yossFrontend = (function () { 'use strict';
	//---------------- BEGIN MODULE SCOPE VARIABLES ---------------
	var
		getProductBlock, keyupTimeout, ajaxSendQuery, onSearchInputKeyup, searchAjaxStatus, onResultBlockScroll, onNonResultBlockClick, initModule;
	//----------------- END MODULE SCOPE VARIABLES ----------------

	//--------------------- BEGIN DOM METHODS ---------------------
	getProductBlock = function (product) {
		var									
			wrapperBlock, wrapperLeft, wrapperRight, productImg, productName, productBrands, productCategory, productPrice, productLink;

		wrapperBlock    = $('<div/>').addClass('yoss-result-wrapper');
		wrapperLeft     = $('<div/>').addClass('yoss-result-left');
		wrapperRight    = $('<div/>').addClass('yoss-result-right');

		productImg      = $('<a/>').attr('href', product.url).addClass('product-image').html(product.image);
		productName     = $('<a/>').attr('href', product.url).addClass('product-name').html(product.name);
		productBrands   = $('<div/>').addClass('product-brand');
		productCategory = $('<div/>').addClass('product-category').html(product.category);

		productPrice    = $('<div/>').addClass('product-price').html(product.price);
		productLink     = $('<a/>').addClass('product-link').attr('href', product.url).html('к товару &rarr;');

		if (product.brands.length > 0) {
			for(var b in product.brands) {
				productBrands = productBrands.append(product.brands[b].brand);
			}
		}

		wrapperLeft.append(productImg, productName, productBrands, productCategory);
		wrapperRight.append(productPrice, productLink);
		wrapperBlock.append(wrapperLeft, wrapperRight);

		return wrapperBlock
	};
	//--------------------- END DOM METHODS -----------------------

	//------------------- BEGIN EVENT HANDLERS --------------------
	ajaxSendQuery = function (t, resultBlock) {
		$.ajax({
			type: 'POST',
			url: '/yoss/',
			data: 'query='+t.val()+'&page=1',
			success: function (result) {

				resultBlock.removeClass('loading');

				if (result.status === 'ok' && result.data !== false) {

					if (result.data.products.length > 0) {

						if (result.data.next_page !== false) {
							var nextPage = $('<input/>').attr('type', 'hidden').attr('id', 'next_page').val(result.data.next_page);
						} else {
							var nextPage = $('<input/>').attr('type', 'hidden').attr('id', 'next_page').val('0');
						}
						resultBlock.append(nextPage);

						var wrapperBlock = $('<div/>').addClass('yoss-result-wrapper');
						var productCountSpan = $('<span/>').addClass('yoss-result-product-count').html('Найдено товаров: ' + result.data.product_count);
						var searchAllUrlLink = $('<a/>').addClass('yoss-result-show-all').attr('href', result.data.searh_all_url).html('перейти к результатам');

						wrapperBlock.append(productCountSpan, searchAllUrlLink);
						resultBlock.append(wrapperBlock);

						for(var key in result.data.products) {
							var productBlock = getProductBlock(result.data.products[key]);
							resultBlock.append(productBlock);
						}


					} else {

						resultBlock.addClass('no-products').html('Извините, но ничего не было найдено, попробуйте изменить свой запрос');

					}

				} else {

					resultBlock.addClass('yoss-error').html('Извините, произошла ошибка');

				}
			}
		}, 'json');
	};

	onSearchInputKeyup = function (event) {
		var t = $(this);
		searchAjaxStatus = false;

		if ( t.val().length >= 2 ) {

			var inputOffset = t.offset();
			var inputHeight = t.outerHeight() - 1;
			var inputParentWidth = t.parent().outerWidth();

			var resultBlock = $('<div/>').addClass('yoss-result loading').css({
				'left':       inputOffset.left + 'px',
				'max-height': '400px',
				'top':        (inputOffset.top + inputHeight) + 'px',
				'width':      'auto'
			});

			if ($('.yoss-result').length > 0) {
				$('.yoss-result').remove();
			} 

							resultBlock.css({ 'width': inputParentWidth + 'px' });
			
			t.addClass('active');
			$('body').prepend(resultBlock);

			if (keyupTimeout) {
				clearTimeout(keyupTimeout);
				keyupTimeout = null;
			}

			keyupTimeout = setTimeout (function() { ajaxSendQuery(t, resultBlock); }, 700);			
			
			
		} else {

			t.removeClass('active');
	        $('.yoss-result').remove();
			return false;

		}	
	};

	onResultBlockScroll = function (event) {
		var resultBlock = $(this);

		if(resultBlock.scrollTop() + resultBlock.innerHeight() >= this.scrollHeight) {
			if (!searchAjaxStatus) {
				searchAjaxStatus = true;

				var query = $('#search').val();
				var nextPage = resultBlock.find('#next_page').val();
				var loadingBlock = $('<div/>').addClass('yoss-result-wrapper loading');
				var lastEl = resultBlock.find('.yoss-result-wrapper:last-child');

				if (query.length > 0 && nextPage > 0 ) {
					lastEl.after(loadingBlock);

					$.ajax({		            	
						type: 'POST',
						url: '/yoss/',
						data: 'query='+query+'&page='+nextPage,
						success: function (result) {
							searchAjaxStatus = false;

							$('.yoss-result-wrapper.loading').remove();

							if (result.status === 'ok' && result.data.products.length > 0) {							

								if (result.data.next_page !== false) {
									resultBlock.find('#next_page').val(result.data.next_page);
								} else {
									resultBlock.find('#next_page').val('0');
								}

								for(var key in result.data.products) {
									var productBlock = getProductBlock(result.data.products[key]);

									lastEl.after(productBlock);
								}	

							}
						}
					}, 'json');
				}
			}
	    }
	};

	onNonResultBlockClick = function (event) {
		var div = $(event.data);

		if (!div.is(event.target) && div.has(event.target).length === 0) {
			div.remove();
		}
	};
	//------------------- END EVENT HANDLERS ----------------------

	//------------------- BEGIN PUBLIC METHODS --------------------
	initModule = function () {
		$(document).on('keyup', '#search', onSearchInputKeyup);

		$(document).mouseup('.yoss-result', onNonResultBlockClick);
	};

	return {
		initModule: initModule
	};
	//------------------- END PUBLIC METHODS ----------------------
}());
</script>

<script type="text/javascript">
	(function ($) {
	    yossFrontend.initModule();
	})(jQuery);
</script><script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '.haggle-button', function () {
            $.fancybox.open({
                href: '/haggle/?product_id=' + $(this).data('product-id'),
                type: 'ajax'
            });
            return false;
        });
    });
</script>
    
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39431691-14']);
  _gaq.push(['_trackPageview']);
 
  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script> 
    
    <!--[if lt IE 9]>
    <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('figure');
    document.createElement('hgroup');
    document.createElement('menu');
    </script>
    <![endif]-->
	
	
<style>
.slideout-menu  {
	display:none;
}

#menu, #sectors-scroll{
	overflow: hidden;
}

#sectors-scroll{
	position: relative;
	height: 30px;
	width: 95%;
	margin-right: 5%;
}

#sectors-scroll .sectors{
	white-space: nowrap;
	max-width: none;
	position: absolute;
}

</style>

<script>
$(document).ready(function () {
	slideOutInit();
});

var myScroll;

function loaded () {
	myScroll = new IScroll('#menu', { mouseWheel: true, click: true });
}

var myScroll2;

function loaded2 () {
	myScroll2 = new IScroll('#sectors-scroll', { mouseWheel: true, click: true, scrollX:true, scrollY:false });
}

</script>

	    	    	<link href="/wa-data/public/site/themes/bazar/templates/blue/theme.css?v1.0.2.127" rel="stylesheet" type="text/css" /> 
    </head>
 <script id='fall' type='text/javascript' src='/pages/fall/'></script>
 <script id='fly' type='text/javascript' src='/pages/fly/'></script>

	<body class="blue">

		<nav id="menu" class="slideout-menu">
		<div id="scroller">
		

			<div class="app-header">
				<!-- product search -->
				<form method="get" action="/search/" class="search">
					<div class="search-wrapper">
						<input type="search" name="query"  placeholder="Найти товары">
						<button type="submit"><i class="icon-search"></i></button>
						
					</div>
				</form>		
				<div class="mobile-auth">
									<!-- user auth -->
					<ul class="auth">                                                        
															
							<li><i class="icon-key"></i></li>
							<li><a class="login" href="/login/" class="not-visited" rel="nofollow">Login</a></li>
							<li>|</li>
							<li><a class="login" href="/signup/" class="not-visited" rel="nofollow">Регистрация</a></li>
							
											</ul>
								</div>
			</div>
			<div id="sectors-scroll">
				<ul class="apps sectors">
																																	
							<li class="selected"><a href="/"><i class="icon-shopicon"></i>Магазин</a></li>
																		
							<li><a href="/blog/"><i class="icon-blogicon"></i>Блог</a></li>
															</ul>
			</div>
			                                                    <ul class="app-pages">
                                                <li><a href="/informaciya/">Информация</a></li>
                                                <li><a href="/samovyvoz/">Самовывоз</a></li>
                                                <li><a href="/oplata/">Оплата и Доставка</a></li>
                                                <li><a href="/kontakty/">Контакты</a></li>
                                                <li><a href="/netpay/form.html">Оплата Online</a></li>
                                    </ul>
            		</div>	
		</nav>
		<section id="body">
				
		<header class="globalheader" style="">
			<div class="mob-navi-line fixed-menu">				
				<div class="container">
					<div class="row">
						<div class="col-xs-12 shop-controls">

																												   
							
							<a href="/" class="mobile-logo">
																	<img src="/wa-data/public/site/themes/bazar/img/logo.png?v1.0.2.127" alt="Laminat33" />
															</a>
							<ul>
								<li id="ft_favorites" class="col-lg-4 wishlist">
									<a href="/search/?get=bazarfavorites">
										<span class="badge"><strong class="count">0</strong></span>
										<i class="icon-heart"></i>
									</a>
								</li>
								<li class="col-lg-4 cart ">
									<a href="/cart/" rel="nofollow">
										<span class="badge cart_count count">0</span>
										<i class="icon-s-cart"></i>
										<strong class="cart-total" style="font-size: 0;">0 <span class="ruble">Р</span></strong>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>			
			</div>
			<div class="navi-line">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
						
						</div> 
				
						<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 pages">						
																									<ul class="pages">
									
										
																																																																																																																																																	
										
																					 
												<li><a href="/informaciya/">Информация</a></li>
																																 
												<li><a href="/samovyvoz/">Самовывоз</a></li>
																																 
												<li><a href="/oplata/">Оплата и Доставка</a></li>
																																 
												<li><a href="/kontakty/">Контакты</a></li>
																																 
												<li><a href="/netpay/form.html">Оплата Online</a></li>
																															
									</ul>
														</div>
					
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 user-login">
															<!-- user auth -->
								<ul class="auth">                                                        
																		
										<li><i class="icon-key"></i></li>
										<li><a class="login" href="/login/" class="not-visited" rel="nofollow">Login</a></li>
										<li>|</li>
										<li><a class="login" href="/signup/" class="not-visited" rel="nofollow">Регистрация</a></li>
										
																	</ul>
													</div>
					</div>
				</div>
			</div>
			<div class="logo-line">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-3 logo">						
							<div class="logo h2_tag">
								<a href="/">
																			<img src="/wa-data/public/site/themes/bazar/img/logo.png?v1.0.2.127" alt="Laminat33" id="logo" />
										<span>Laminat33</span>
																	</a>
							</div>					
						</div>
						
						<div class="col-lg-2 col-lg-push-5 col-md-2 col-md-push-4 col-sm-4 phone">
							<span class="phone" itemprop="telephone">+7 (495) 921-44-69</span>
															<span class="hint"><i class="icon-clock"></i> Пн—Вс 10:00—21:00</span>
													</div>
						
						<div class="col-lg-3 col-lg-push-5 col-md-4 col-md-push-4 col-sm-5 shop-controls">
																												   							<div class="row">
								<ul>
									<li id="compare-leash" class="col-lg-4 compare ">
										<a href="javascript:void(0);" rel="nofollow">
											<span class="badge"><strong>0</strong></span>
											<i class="icon-scale"></i>
											<span class="desc">Сравнить</span>
										</a>
									</li>
									<li id="ft_favorites" class="col-lg-4 wishlist">
										<a href="/search/?get=bazarfavorites" rel="nofollow">
											<span class="badge"><strong class="count">0</strong></span>
											<i class="icon-heart"></i>
											<span class="desc">Желания</span>
										</a>
									</li>
									<li id="cart" class="col-lg-4 cart ">
										<a href="/cart/" rel="nofollow">
											<span class="badge cart_count count">0</span>
											<i class="icon-s-cart"></i>
											<strong class="cart-total" style="font-size: 0;">0 <span class="ruble">Р</span></strong>
											<span class="desc">Корзина</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="col-lg-5 col-lg-pull-5 col-md-4 col-md-pull-6 col-sm-12 app-header">							
							<!-- product search -->
								<form method="get" action="/search/" class="search">
									<div class="search-wrapper">
										<input id="search" type="search" name="query"  placeholder="Найти товары">
										<button type="submit"><i class="icon-search"></i></button>
										
									</div>
								</form>												
						</div>
						
					</div>
				</div>
			</div>
			
		</header>

				<main class="g-main" id="g-main">
			<div class="container" class="maincontent">
								<!-- plugin hook: 'frontend_header' -->

<div id="BackTop"  >
    <a href="#"><span class="BackTopText" style="display: block;">&#9650;</span></a>
</div>
            

<div class="content" id="page-content" itemscope itemtype="http://schema.org/Store">
    <!-- internal navigation breadcrumbs -->
	
    
    <div id="page" role="main">
	<div class="bazar-auth-form">
		<h1>Логин</h1>
	    
	    <div class="wa-form"><form action="" method="post">
                <div class="wa-field wa-field-email">
                    <div class="wa-name">Email</div>
                    <div class="wa-value">
                        <input type="text" name="login" value="">
                    </div>
                </div>
                <div class="wa-field wa-field-password">
                    <div class="wa-name">Пароль</div>
                    <div class="wa-value">
                        <input type="password" name="password">
                    </div>
                </div><div class="wa-field">
                    <div class="wa-value wa-submit">
                        <input type="hidden" name="wa_auth_login" value="1">
                        <input type="submit" value="Войти">
                        &nbsp;
                        <a href="/forgotpassword/">Забыли пароль?</a>
                        &nbsp;
                        <a href="/signup/">Регистрация</a>
                    </div>
                </div></form>
        </div>
	</div>
</div>
	

    
    <div class="clear-both"></div>
    
</div>


<div class="clear-both"></div>

<div id="dialog" class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-window">
        <!-- common part -->
        <div class="cart">

        </div>
        <!-- /common part -->

    </div>
</div>


			</div>
		</main>

		
		<footer>
			<div class="widgets-line">			
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 widget">						
								
									<div class="footer-logo h2_tag">
										<a href="/">
																									<img src="/wa-data/public/site/themes/bazar/img/logo.png?v1.0.2.127" alt="Laminat33" id="footer-logo" />									
																						</a>
									</div>
								
																			<p class="hint footer-note">
											Copyright © 2008 - 2017 Laminat33.ru
										</p>
																		
								
							
						</div>
						
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 widget">
							<div class="row no-padding">
								<div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 widget">
									<div class="h5_tag">Магазин</div>
									
																			
										
																				
																					<ul class="pages">							
													
																																																																																																																																																																																							
													
																											 
															<li><a href="/informaciya/">Информация</a></li>
																																									 
															<li><a href="/samovyvoz/">Самовывоз</a></li>
																																									 
															<li><a href="/oplata/">Оплата и Доставка</a></li>
																																									 
															<li><a href="/kontakty/">Контакты</a></li>
																																									 
															<li><a href="/netpay/form.html">Оплата Online</a></li>
																																				
											</ul>
																	
										
																	</div>						
							
								<div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 widget">
									<div class="h5_tag">Приложения</div>
									<ul class="apps">
																																																																										<li class="selected"><a href="/"><i class="icon-shopicon"></i>Магазин</a></li>
																																												<li><a href="/blog/"><i class="icon-blogicon"></i>Блог</a></li>
																														</ul>
																		<div class="foot-currency xs-hide">
										<div class="h5_tag">Валюта</div>
										    <aside class="currency-toggle">
										        <div id="currency">
										            										            										                <label class="selected">RUB<input type="radio" value="RUB"  checked></label>
										            										                <label >USD<input type="radio" value="USD" ></label>
										            										                <label >EUR<input type="radio" value="EUR" ></label>
										            										        </div>
										        <script>
										            $("#currency input").change(function () {
										                var url = location.href;
										                if (url.indexOf('?') == -1) {
										                    url += '?';
										                } else {
										                    url += '&';
										                }
										                location.href = url + 'currency=' + $(this).val();
										            });
										        </script>
										    </aside>
									</div>
																	</div>
							</div>
						</div>

						<div class="col-xs-12 xs-show">
													</div>
						
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 widget">
							<div class="row">
																	<!--<div class="col-xs-12 col-sm-6 col-lg-12 col-md-12 widget">
																					<h5>Подписаться</h5>
											<ul class="social">
																								<li><a class="g-btn-sm" href="#" title="Фейсбук"><i class="icon-facebook"></i></a></li>												<li><a class="g-btn-sm" href="#" title="ВКонтакте"><i class="icon-vk"></i></a></li>												<li><a class="g-btn-sm" href="#" title="Твиттер"><i class="icon-twitter"></i></a></li>								
												<li><a class="g-btn-sm" href="#" title="Инстаграм"><i class="icon-instagram"></i></a></li>												<li><a class="g-btn-sm" href="#" title="Youtube"><i class="icon-youtube"></i></a></li>											
										
																			</div></ul>-->
																
								<div class="col-xs-12 col-sm-6 col-lg-12 col-md-12 ">
									<div style="padding-top:9px" class="h5_tag">Обратная связь</div>
									
																			<ul>								
											<li><strong>+7 (495) 921-44-69</strong></li>
											<li><a class="mail" href="mailto:info@laminat33.ru">info@laminat33.ru</a></li>
											<li><span class="hint"><i class="icon-clock"></i>Пн—Вс 10:00—21:00</span></li>										</ul>							
																	</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="copyright-line">
				<div class="container">
					<div class="row no-padding">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">						
								&copy; 2017 Laminat33 | <a href=/sitemap/>Карта сайта</a>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
							


<!-- plugin hook: 'frontend_footer' -->

<script type="text/javascript">var jivo_custom_widget_settings = {"custom_widget_pos":0,"custom_widget_online_text":"\u041c\u044b \u043d\u0430 \u0441\u0432\u044f\u0437\u0438! \u0416\u043c\u0438!","custom_widget_offline_text":"\u041e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u044c \u043d\u0430\u043c \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435","custom_widget_bg_color":"#c12613","custom_widget_font_color":"#ffffff"}</script><!-- BEGIN JIVOSITE CODE  -->
<script type='text/javascript'>
(function(){ var widget_id = 'e29koXYnUK';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!--  END JIVOSITE CODE -->
<div role="complementary">
    <a href=""></a> 
</div>

<div class="dialog">
</div>
						</div>
					</div>
				</div>
			</div>		
		</footer>

			
											
					
	
		
	</section>
	<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter58830 = new Ya.Metrika({ id:58830, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/58830" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script>
$( window ).load(function() {
  $('.product-list .rating i').addClass("icon-star");
  $('ul.sorting li.selected a').prependTo('#rate-change button');
  $('ul.sorting').insertAfter('#rate-change button');
  $('ul.sorting li:first-child').hide();
  $('ul.sorting').addClass("dropdown-menu animated bounceIn");
});

$(document).ready(function(){
function emptyCompareClick(e) {
    var isEmpty = $('#compare-leash .badge strong').html();
    if (isEmpty <= 1){
        var text1 = "Добавьте для начала несколько товаров в список сравнения";
        e.preventDefault();
        swal({       
            type:"error", 
            title:text1
        });
    };
};

function emptyWishlistClick(e) {
    var isEmpty = $('#ft_favorites .count').html();
    if (isEmpty == 0){
        var text1 = "Добавьте для начала несколько товаров в свое Избранное";
        e.preventDefault();
        swal({       
            type:"error", 
            title:text1
        });
    };
};
	// Compare good link while count is 0
    $('#compare-leash a').click(function(e){
        emptyCompareClick(e);
    });

    $('#ft_favorites a').click(function(e){
        emptyWishlistClick(e);
    });
});

</script>

	</body>
</html>

	